
button:hover {
    background-color: darkolivegreen;
}
input:focus {
    border: 2px solid rgb(255, 255, 255);
}
a:active {
    color: dimgray;
}
body {
   background-image: url('assets/Desktop-Snoopy-HD-Wallpapers-Images-Photos.jpg');
   background-size: cover; 
   background-position: center; 
   background-repeat: no-repeat; 
}
ul li:first-child {
    font-weight: bold;
}
ul li:last-child {
    font-style: italic;
}
ul li:nth-child(2) {
    color: rgb(255, 255, 255);
}

body {
    margin: 0;
    overflow: hidden;
}
.snoopy-plane {
    position: absolute;
    width: 200px;
    bottom: 20%;
    left: -200px;
    animation: fly 10s linear infinite;
}
.snoopy-love {
    
        position: absolute;
        width: 60px;
        bottom: 10%;
        left: 200px;
        
    
}

@keyframes fly {
    0% { left: -200px; transform: translateY(0); }
    50% { transform: translateY(-50px); }
    100% { left: 100%; transform: translateY(0); }
}

input:checked + label {
    color: rgb(182, 116, 232);
}
input:disabled {
    background-color: rgb(255, 255, 255);
}
input:required {
    border: 2px solid rgb(255, 255, 255);
}

p:not(.destaque) {
    color: rgb(255, 255, 255);
}
div:empty {
    border: 1px dashed rgb(255, 255, 255);
    height: 20px;
}


p1{
    background-color: #f0f0f0;
}