
button:hover {
    background-color: darkolivegreen;
}
input:focus {
    border: 2px solid gray;
}
a:active {
    color: dimgray;
}
body {
   background-image: url('assets/Desktop-Snoopy-HD-Wallpapers-Images-Photos.jpg');
   background-size: cover; 
   background-position: center; 
   background-repeat: no-repeat; 
}
ul li:first-child {
    font-weight: bold;
}
ul li:last-child {
    font-style: italic;
}
ul li:nth-child(2) {
    color: rgb(50, 63, 57);
}

body {
    margin: 0;
    overflow: hidden;
}
.snoopy-plane {
    position: absolute;
    width: 200px;
    bottom: 20%;
    left: -200px;
    animation: fly 8s linear infinite;
}

@keyframes fly {
    0% { left: -200px; transform: translateY(0); }
    50% { transform: translateY(-50px); }
    100% { left: 100%; transform: translateY(0); }
}

input:checked + label {
    color: rgb(182, 116, 232);
}
input:disabled {
    background-color: plum;
}
input:required {
    border: 2px solid rgb(36, 64, 55);
}

p:not(.destaque) {
    color: rgb(0, 0, 0);
}
div:empty {
    border: 1px dashed black;
    height: 20px;
}
li {
    background-color: #f0f0f0;
}

p1{
    background-color: #f0f0f0;
}